<section class="card-list">
    <% for(let item of cards) { %>
    <article class="card">
        <header class="card-header">
            <img src="/images/bot-icons/<%= item.icon || 'bitbot' %>">
            <h2><%= item.name || 'Unspecified' %> </h2>
            <i>#<%= item.id || '0000' %></i>
            <span class="bot-tag <% if (!item.production) { %>
            wip
            <% } %>"><% if (!item.production) { %>
                WIP
                <% } else { %>
                BOT
                <% } %> </span>
            <a class="invite-button" href="<%= item.link || '#' %>" target="_blank">Invite</a>
        </header>
        <div class="card-description">
            <p>
                <%= item.desc || '' %>
            </p>
        </div>
    </article>
    <% } %>
</section>