<!DOCTYPE html>
<html class="RG-blue" lang="<%= page.lang || def.lang %> ">

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="<%= page.bots ? page.bots.join(", ") || def.bots.join(", ") : def.bots.join(", ") %>" />
  <meta name="description" content="<%= page.description || def.description %>" />
  <meta name="keywords"
    content="<%= page.keywords ? page.keywords.join(", ") || def.keywords.join(", ") : def.keywords.join(", ") %>" />
  <!-- Title --> <%# Switch title to default if undefined %>
  <title><%= page.title === "" || !page.title ? title.default : `${title.pre}${page.title}${title.post}` %> </title>
  <!-- Favicon -->
  <link defer id="icon" rel="shortcut icon" type="image" href="/icon.ico">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <!-- Navbar Style -->
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  <!-- Footer -->
  <link defer rel="stylesheet" type="text/css" href="/styles/footer.css">
  <!-- Generated -->
  <% for(let item of page.css || def.css) { %>
  <link defer rel="stylesheet" type="text/css" href="/styles/components/<%= item %>.css">
  <% } %>
  <% for(let item of page.js || def.js) { %>
  <script defer src="/scripts/<%= item %>.js"></script>
  <% } %>
  <!-- Sound Manager Script -->
</head>

<body>
  <!-- Audio -->
  <% for(let item of siteInfo.site.sounds) { %>
  <audio id="<%= item %>">
    <source src="/sounds/<%= item %>.mp3" />
  </audio>
  <% } %>

  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="<%= nav.title.link %>" class="nav-link">
          <span class="link-text logo-text"><%= nav.title.name %></span>
          <%- icons[nav.title.icon] %>
        </a>
      </li>

      <%# Loop through each item in site info, add a corresponding list item %>

      <% for(let item of nav.items) { %>
      <li class="nav-item">
        <a href="<%= item.link %> " class="nav-link">
          <%- icons[item.icon] %>
          <span class="link-text"><%= item.name %></span>
        </a>
      </li>
      <% } %>
    </ul>
  </nav>

  <main>
    <!-- Acutal useful content -->
    <div id="content">
      <%# Loop through content and populate %>
      <% for(let item of content) { %>
      <% switch(item.type) { case "test": %>
      <!-- If you're seeing this, the webpage population is working properly. -->
      <% break %>
      <% case "component": %>
      <%- include(`components/${item.content}`, item.required || {}) %>
      <% break %>
      <% default: %>
      <%- `<${item.type}>` %>
      <%- item.content %>
      <%- `</${item.type}>` %>
      <% } %>
      <% } %>
    </div>

    <!-- Footer -->
    <%- include('components/footer') %>
  </main>
</body>

</html>